:root {
  --color_primary: #b3f5ff;
  --color_primary50: #25458650;
  --color_primary_contrast: #d4e5f4;
  --color_primary_contrast50: #396bd0;
  --color_secondary: #e6f3ff;
  --color_secondary_contrast: #3fa2f7;
  --color_text_dark: #297fca;
  --color_text_light: #ffffff;
}

:root {
  --color_primary: #6d6e71;
  --color_primary_contrast: #f1f2f2;
  --color_secondary: #006d68;
  --color_secondary_contrast: #ff5e32;
  --color_text_dark: #6d6e71;
  --color_text_light: #ffffff;
}
